{% extends 'base.html' %}

{% block content %}
<!-- OVERVIEW -->
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h1>Obrigada por se inscrever!</h1>
        <div class="desktop-6">
            <p>
                Sua inscricao foi realizada em {{ subscription.created_at|date:"d/m/Y" }}
            </p>
            <p>Estes foram os dados que voce nos forneceu em sua inscricao:</p>
            
            <ul>
                <li>Nome: {{ subscription.name }}</li>
                <li>CPF: {{ subscription.cpf }}</li>
                <li>Email: {{ subscription.email }}</li>
                <li>Telefone: {{ subscription.phone }}</li>
            </ul>

            <p>Em ate 48 horas uteis, a nossa equipe entrara em contato com voce para concluirmos a sua matricula.</p>
        </div>
    </div>
</section>
{% endblock content %}
